#bg-homepage {
    background: url("../../assets/gyeongbokgung-palace.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    position: absolute;
    top: 20%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.header-container svg {
    width: 52vw;
    height: 8vw;
}

.header-container p {
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
}

.header-container button {
    background: transparent;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 43px;
    width: 20vh;
    height: 6vh;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}