.img-bg {
    background: url("../../assets/Dumplings.png");
    height: 100%;
    width: 100%;
    min-height: 958px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.form-control {
    background: rgba(230, 91, 94, 0.28);
    border-radius: 26px;
    border: none;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: black;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: black;
}

label {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

button {
    background: transparent;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 43px;
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .img-bg {
        height: 1024px;
        background-repeat: repeat;
        background-size: cover;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .img-bg {
        height: 1366px;
        background-position: left top;
        background-repeat: repeat;
        background-size: auto;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .img-bg {
        display: none;
    }
    h1 {
        margin-top: 50px;
    }
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .img-bg {
        display: none;
    }
    h1 {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 767px) {
    .img-bg {
        display: none;
    }
    h1 {
        margin-top: 50px;
    }
}