footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e65b5e;
    padding: 40px;
}

.redes-sociais {
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    list-style-type: none;
}

.fa {
    color: #1a6899;
    padding-right: 30px;
}

.copyright-footer {
    text-align: center;
}