<footer>
    <ul class="redes-sociais">
        <li>
            <a href="#" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i
      ></a>
        </li>
        <li>
            <a href="#" target="_blank"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i
      ></a>
        </li>
        <li>
            <a href="#" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i
      ></a>
        </li>
    </ul>
    <div>
        <p class="copyright-footer">Copyright © Koreality 2021</p>
    </div>
</footer>