footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e65b5e;
    padding-top: 20px;
    margin-top: 10px;
}

.redes-sociais {
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    list-style-type: none;
}

.fa {
    color: black;
    padding-right: 30px;
}

.copyright-footer {
    text-align: center;
    color: black;
}