.img-bg {
    background: url("../../assets/Untitled.png");
    height: 1063px;
}

.form-control {
    background: rgba(230, 91, 94, 0.28);
    border-radius: 26px;
    border: none;
}

h1 {
    text-align: center;
    margin: 50px;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #413034;
}

label {
    font-weight: bold;
    font-size: 18px;
}

button {
    background: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 43px;
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .img-bg {
        display: none;
    }
}

@media (min-device-width: 540px) and (max-device-width: 1280px) {
    .img-bg {
        display: none;
    }
}


/* Portrait and Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .img-bg {
        display: none;
    }
}